<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{is_eaten}}">
		{{#if is_eaten}}EAT DAT BURGER!{{else}}MAKE ANOTHER ONE DEEZ!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
